<div class="main-content">
  <div class="card">
    <div class="card-body">
      <div class="row my-3 d-flex justify-content-between">
        <div class="col-sm-6">
          <h1>Attendance Logs</h1>
        </div>
        <!-- <div class="col-sm-4 pull-right">
          <input class="form-control" id="search" type="text" [(ngModel)]="searchQuery" (input)="performSearch()"
            placeholder="Search...">
        </div> -->
      </div>
      <!-- Table -->
      <div style="height: 72vh; overflow: auto;">
        <table class="table table-bordered " >
          <thead >
            <tr class="table-secondary text-align-center">
              <th scope="col">Device ID</th>
              <th scope="col">Enroll Number</th>
              <th scope="col">Username</th>
              <th scope="col">Device Address</th>
              <th scope="col">Input Date</th>
              <th scope="col">Device Status</th>
              <th scope="col">In/Out Mode</th>
            </tr>
            <tr>
              <th scope="col">
                <input class="filter-input" [(ngModel)]="deviceId" type="number" min="0" placeholder="DeviceId" (input)="filterTable()" />
              </th>
              <th scope="col">
                <input class="filter-input" [(ngModel)]="enrollNumber" type="text" placeholder="Enroll Number" (input)="filterTable()"/>
              </th>
              <th scope="col">
                <input class="filter-input" [(ngModel)]="userName" type="text" placeholder="Username" (input)="filterTable()"/>
              </th>
              <th scope="col">
                <input class="filter-input" [(ngModel)]="deviceName" type="text" placeholder="Device Name" (input)="filterTable()"/>
              </th>
             
              <th scope="col">
                <tr class="d-flex justify-content-between" >
                  <th>
                    <tr><label><small>StartDate</small></label></tr>
                    <tr><input class="filter-input-date" [(ngModel)]="startDate" type="date"  (input)="filterTable()" /></tr>
                  </th>
                  <th>
                    <tr><label><small>EndDate</small></label></tr>
                    <tr><input class="filter-input-date" [(ngModel)]="endDate" type="date" (input)="filterTable()" /></tr>
                  </th>
                </tr>
              </th>
              
              <th scope="col" style="width:15%">   
                <div class="form-control" style="border:none;">
                  <ng-select class="select-status"
                      placeholder="Select device status"
                      [(ngModel)]="isActive"
                      (change)="filterTable()" >
                      <ng-option [value]="item.booleanValue" *ngFor="let item of items">
                          {{item.name}}
                      </ng-option>
                  </ng-select>
                </div>                           
              </th>
              <th scope="col">
                <!-- <input class="filter-input" [(ngModel)]="inOutMode" type="text" placeholder="InOutMode" (input)="filterTable()"/> -->
              </th>
            </tr>
          </thead>

          <!-- <div *ngIf="isLoading"  class="fade show spinner-wrapper"
            style="text-align: center; padding-top: calc(100vh / 5); width:20%;font-family:Verdana, Geneva, Tahoma, sans-serif" >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <small>Loading, Please wait...</small>
          </div> -->
       
          <div *ngIf="isLoading"  class="fade show spinner-wrapper" 
          style="text-align: center; padding-top: calc(100vh / 5); width:20%;font-family:Verdana, Geneva, Tahoma, sans-serif" >
            <i class="spinner-border"></i>
            <!-- <small>Loading, Please wait...</small> -->
          </div>

          <tbody *ngIf="!isLoading">
            <tr *ngFor="let log of filteredLog">
              <td>{{ log.deviceId }}</td>
              <td>{{ log.enrollNumber }}</td>
              <td>{{ log.username }}</td>
              <td>{{ log.deviceName }}</td>
              <td>{{ log.inputDate | date:'yyyy-MM-dd hh:mm:ss a' }}</td>

              <td [ngClass]="{'active': log.isActive, 'inactive': !log.isActive}">
                {{ log.isActive ? 'Active' : 'Inactive' }}
              </td>

              <td *ngIf="log.inOutMode == 0">Check-In</td>
              <td *ngIf="log.inOutMode == 1">Check-Out</td>
              <td *ngIf="log.inOutMode == 2">Break-Out</td>
              <td *ngIf="log.inOutMode == 3">Break-In</td>
              <td *ngIf="log.inOutMode == 4">Overtime-In</td>
              <td *ngIf="log.inOutMode == 5">Overtime-Out</td>
                                     
            </tr>
          </tbody>
        </table>
        <!-- <div *ngIf="isLoading" >
          <i class="spinner-border"></i>
        </div> -->
      </div>

      <!-- Pagination -->
      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-6">
          <mat-paginator [pageSizeOptions]="[50, 100, 500,1000]" [pageSize]="pageSize" [pageIndex]="pageNumber - 1"
            [length]="totalRecords" (page)="onPageChange($event)"></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>
