.main-content{
  // margin-top: 20px !important;
  padding-top: 7vh !important;
}


input:disabled{
  border: none;
  background: transparent;
}

input:not(:disabled) {
  background-color: #ffffff; /* Change the background color */
  color: #333; /* Change the text color */
  border: 1px solid #007bff; /* Change the border color */
  /* Add any other styles you want for enabled inputs */
}



.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.col-sm-1, .col-sm-2, .col-sm-3 {
  width:auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Style for the spinner */
.spinner {
  display: inline-block;
  vertical-align: middle; /* Center vertically */
  margin-right: 5px; /* Add some spacing to the left of the spinner */
}

/* Prevent the button from resizing when the spinner is displayed */
.btn-xs .spinner-border {
  width: 0.5px; /* Set a fixed width */
  height: 0.5px; /* Set a fixed height */
  margin-top: -0.125rem; /* Adjust vertical alignment if needed */
}

