################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Project3/DesignTimeBuild/.dtbcache.v2
/.vs/Project3/v17/.suo
/.vs/Project3/FileContentIndex/99c59c9c-705f-435f-b707-3ec39d740d55.vsidx
/.vs/Project3/v17/.futdcache.v2
/.vs/ProjectEvaluation/project3.metadata.v7.bin
/.vs/ProjectEvaluation/project3.projects.v7.bin
