################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
/.vs/Project3/v17/.suo
/Project3/appsettings.json
/Core/bin/Release/net6.0
/Infrastructure/bin/Release/net6.0
