################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Project3/DesignTimeBuild/.dtbcache.v2
/.vs/Project3/v17/.suo
/.vs/Project3/FileContentIndex/99c59c9c-705f-435f-b707-3ec39d740d55.vsidx
/.vs/Project3/v17/.futdcache.v2
/.vs/ProjectEvaluation/project3.metadata.v7.bin
/.vs/ProjectEvaluation/project3.projects.v7.bin
/Infrastructure/bin/Release/net6.0
/Infrastructure/obj/Release/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Core/bin/Release/net6.0
/.vs/Project3/config/applicationhost.config
*.config
/.vs/BiometricAttendance/v17/.suo
/Core/bin/Debug/net6.0/Core.pdb
/Core/bin/Debug/net6.0/Core.dll
/Core/obj/Debug/net6.0/ref/Core.dll
/Core/obj/Debug/net6.0/refint/Core.dll
/Core/obj/Debug/net6.0/Core.dll
/Core/obj/Debug/net6.0/Core.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/Infrastructure/bin/Debug/net6.0/Core.pdb
/Infrastructure/bin/Debug/net6.0/Core.dll
/Core/obj/Debug/net6.0/Core.assets.cache
/Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
*.cache
