.main-component{
  height: 100vh;
  background-image: url('../../assets/background.jpg');
}

.login-card{
  background: linear-gradient(359.3deg, rgb(196, 214, 252) 4%, rgba(187, 187, 187, 0) 30.9%);
  border-radius: 10px;
}
