.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .main-content{
    // margin-top: 20px !important;
    padding-top: 7vh !important;
  }